@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 20px;
  text-shadow: 5px 3px 3px #aaa;
}

body {
  margin: 0 auto;
  width: 740px;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
}

article {
  width: 100%;
}

h1 {

}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 0px 15px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }
}

.horses {
  
}

footer {
  height: 106px;
}
.bar {
  height: 3%;
  border-radius: 40px;
  background: linear-gradient(white, black);
}

.footer-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.list-icons {
  padding-right: 21px;
}

.twitter {
  text-decoration: none;
  color: lightblue;
}

.facebook {
  text-decoration: none;
  color: blue;
}

.google {
  text-decoration: none;
  color: green;
}

.digg {
  text-decoration: none;
  color: black;
}
